<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>echarts.js中国地图省份悬浮提示</title>
    <!-- <script src="js/jquery-1.9.1.min.js"></script> -->
    <script src="js/echarts.min.js"></script>
    <script src="js/china.js"></script>
    <style>
        body {
            background: url(./img/bg.png) no-repeat;
            background-size: 100% 100%;
        }
    </style>
</head>

<body>

    <div id="container" style="height: 430px;width:100%"></div>
    <div id="drawBar" style="height: 230px;width:300px"></div>
    <!-- <div v-if="showInfo" style="position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:9999;background:rgba(0,0,0,0.8)">
        <div style="position:absolute;top:50%;left:50%;height:500px;width:1080px;transform:translate(-50%,-50%);">
            <div v-if="showInfo" style="position:absolute;left:0px;top:0px;z-index:999;width:540px;border:5px solid rgba(76, 189, 254, 0.2);">
                <div style="line-height:40px;background:#283664;font-size:16px;font-weight:500;">
                    <img src="../../../assets/index/icon.png" alt="" width="16px" height="16px" style="margin: -2px 8px 0 12px;">
                    人员列表
                    <span style="float:right;margin-right:10px;cursor:pointer;" @click="closeInfo"><img src="../../../assets/index/close.png" alt=""></span>
                </div>
                <div class="bg padding10" style="height:440px;">
                    <div style="height:410px">

                    <table style="width:100%;border-collapse:collapse;" v-if="tableOffset==1" >
                        <tr class="font12 text_center" style="line-height:42px;color:#4CBDFE;background:rgba(255, 255, 255, 0.15);"><td>姓名</td><td>教育类型</td><td>受教育单位</td><td>教育负责人</td><td>教育时间</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(0)"><td>朱锦海</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>李文</td><td>2018-11-01</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(1)"><td>黄国伟</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>李文</td><td>2019-01-19</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(2)"><td>区伟雄</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>李文</td><td>2019-01-19</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(3)"><td>杨佳雄</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>李文</td><td>2019-01-19</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(4)"><td>陈师铭</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>李文</td><td>2018-11-01</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(0)"><td>朱锦海</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>张国华</td><td>2018-11-01</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(1)"><td>黄国伟</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>张国华</td><td>2019-01-19</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(2)"><td>区伟雄</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>袁华</td><td>2019-01-19</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(3)"><td>杨佳雄</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>袁华</td><td>2019-01-19</td></tr>
                    </table>
                    <table style="width:100%;border-collapse:collapse;" v-if="tableOffset==2">
                        <tr class="font12 text_center" style="line-height:42px;color:#4CBDFE;background:rgba(255, 255, 255, 0.15);"><td>姓名</td><td>教育类型</td><td>受教育单位</td><td>教育负责人</td><td>教育时间</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(4)"><td>陈师铭</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>李文杰</td><td>2018-11-01</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(0)"><td>朱锦海</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>何洁文</td><td>2018-11-01</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(1)"><td>黄国伟</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>何洁文</td><td>2019-01-19</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(2)"><td>区伟雄</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>何洁文</td><td>2019-01-19</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(1)"><td>黄国伟</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>何洁文</td><td>2019-01-19</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(2)"><td>区伟雄</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>宋珊珊</td><td>2019-01-19</td></tr>
                        <tr class="font12 text_center" style="line-height:40px;border-bottom:1px solid rgba(46,73,112,0.5);cursor:pointer;" @click="personInfoList(3)"><td>杨佳雄</td><td>三级教育</td><td>广州市通力建筑劳务派遣有限公司</td><td>宋珊珊</td><td>2019-01-19</td></tr>
                    </table>
                    
                    </div>
                    <el-pagination
                    small
                    layout="prev, pager, next"
                    :total="18"
                    @current-change="handleCurrentChange"
                    style="margin-top:4px;">
                    </el-pagination>
                </div>
            </div>
            
            <div v-if="showInfo" style="position:absolute;left:550px;top:0px;z-index:999;width:540px;border:5px solid rgba(76, 189, 254, 0.2);">
                <div style="line-height:40px;background:#283664;font-size:16px;font-weight:500;">
                    <img src="../../../assets/index/icon.png" alt="" width="16px" height="16px" style="margin: -2px 8px 0 12px;">
                    人员信息    
                    <span style="float:right;margin-right:10px;cursor:pointer;" @click="closeInfo"><img src="../../../assets/index/close.png" alt=""></span>
                
                </div>
                <div class="bg padding10 font12" style="height:460px;width:100%;box-sizing:border-box;">
                    <div style="float:left;width:230px;height:100%;margin:0 10px 0 30px;border-right:1px solid rgba(46,73,112,0.5)">
                        <div style="line-height:35px">
                            <div style="width:90px;float:left"><img :src="list.url" alt="" width="60" height="70" style="margin-top:20px"></div>
                            <div style="width:calc(100% - 90px);float:left">
                                <div><span>{{list.name}}</span><span class="color_blue1" style="margin-left:20px;">民族: </span>{{list.page01}}</div>
                                <div><span class="color_blue1">性别: </span>{{list.page02}}<span class="color_blue1" style="margin-left:20px;">年龄: </span>{{list.page03}}</div>
                                <div><span class="color_blue1">出生日期: </span>{{list.page04}}</div>
                            </div>
                        </div>
                        <div style="line-height:35px"><span class="color_blue1">身份证号码: </span>{{list.page05}}</div>
                        <div style="line-height:35px"><span class="color_blue1">籍贯: </span>{{list.page06}}</div>
                        <div style="line-height:35px"><span class="color_blue1">住址: </span>{{list.page07}}</div>
                        <div style="line-height:35px"><span class="color_blue1">政治面貌: </span>{{list.page08}}</div>
                        <div style="line-height:35px"><span class="color_blue1">入册工龄: </span>{{list.page09}}</div>
                        <div style="line-height:35px"><span class="color_blue1">是否加入公会: </span>{{list.page010}}</div>
                        <div style="line-height:35px"><span class="color_blue1">文化程度: </span>{{list.page011}}</div>
                        <div style="line-height:35px"><span class="color_blue1">是否有重大病史: </span>{{list.page012}}</div>
                        <div style="line-height:35px"><span class="color_blue1">联系电话: </span>{{list.page013}}</div>
                    </div>
                    <div style="width:calc(100% - 290px);float:left;padding-left:10px;">
                        <div style="line-height:35px"><span class="color_blue1">当前工种: </span>{{list.page11}}</div>
                        <div style="line-height:35px"><span class="color_blue1">当前状态: </span>{{list.page12}}</div>
                        <div style="line-height:35px"><span class="color_blue1">所在项目: </span>{{list.page13}}</div>
                        <div style="line-height:35px"><span class="color_blue1">参建单位: </span>{{list.page14}}</div>
                        <div style="line-height:35px"><span class="color_blue1">班组: </span>{{list.page15}}</div>
                        <div style="line-height:35px"><span class="color_blue1">进场日期: </span>{{list.page16}}</div>
                        <div style="line-height:35px"><span class="color_blue1">退场日期: </span>{{list.page17}}</div>
                        <div style="line-height:35px"><span class="color_blue1">人员评分: </span>{{list.page18}}</div>
                        <div style="line-height:35px"><span class="color_blue1">安全教育学时: </span>{{list.page19}}</div>
                        <div style="line-height:35px"><span class="color_blue1">违章记录: </span>{{list.page110}}</div>
                        <div style="line-height:35px"><span class="color_blue1">加分记录: </span>{{list.page111}}</div>
                        <div style="line-height:35px"><span class="color_blue1">体检信息: </span>{{list.page112}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <script type="text/javascript">
        // 全国省份 热力图
        var option = {
            color: ['#61C9FD', '#9EAEE1'],
            tooltip: {
                trigger: 'item',
                formatter: function (params) {
                    if (params.data) {
                        return params.data.name + '分公司' + '<br/>' + '项目:' + params.data.value + '<br/>' + '预警:' + (params.value - params.data.value);
                    }
                },
            },
            legend: {
                orient: 'vertical',
                left: '30px',
                bottom: '50px',
                data: ['海外分公司', '基础设施部'],
                textStyle: {
                    color: '#fff'
                }
            },
            visualMap: {
                show: false,
                min: 0,
                max: 100,
                left: 'left',
                top: 'bottom',
                color: ['#6FD5FE', '#95A5DD', '#B1EB96', '#FFE584'],           // 文本，默认为数值文本
                calculable: true
            },
            series: [{
                name: '海外分公司',
                type: 'map',
                mapType: 'china',
                showLegendSymbol: false,
                itemStyle: {
                    opacity: '0.3',
                    normal: {
                        label: {
                            show: false,//默认是否显示省份名称    
                        },
                        areaStyle: {
                            color: 'red',//默认的地图板块颜色
                        },
                        areaColor: 'rgba(128, 128, 128, 0.1)',
                        borderWidth: 1,
                        borderColor: '#ABD8F9',
                    },
                    emphasis: {
                        label: {
                            show: false,//选中状态是否显示省份名称
                        },
                        areaStyle: {
                            color: 'pink',//选中状态的地图板块颜色
                        },
                        areaColor: '#6FD3FE'
                    },
                },
                //此为加载的数据
                data: [
                    { name: '广东', value: 111 },
                    { name: '广西', value: 1 },
                    { name: '四川', value: 30 },
                    { name: '云南', value: 65 },
                    { name: '贵州', value: 65 },
                    { name: '海南', value: 65 }
                ]
            },
            {
                name: '基础设施部',
                type: 'map',
                mapType: 'china',
                showLegendSymbol: false,
                itemStyle: {
                    areaColor: '#000',
                    normal: {
                        label: {
                            show: false,//默认是否显示省份名称    
                        },
                        areaStyle: {
                            color: 'red',//默认的地图板块颜色
                        },
                        borderWidth: 1,
                        borderColor: '#ABD8F9',
                    },
                    emphasis: {
                        label: {
                            show: false,//选中状态是否显示省份名称
                        },
                        areaStyle: {
                            color: 'pink',//选中状态的地图板块颜色
                        },
                    },
                },
                //此为加载的数据
                data: [
                    { name: '广东', value: 1 },
                    { name: '广西', value: 1 },
                    { name: '四川', value: 1 },
                    { name: '云南', value: 1 },
                    { name: '贵州', value: 1 },
                    { name: '贵州', value: 1 }
                ]
            }]
        };
        //初始化echarts实例
        var myChart = echarts.init(document.getElementById('container'));
        //使用制定的配置项和数据显示图表
        myChart.setOption(option);
        window.onresize = myChart.resize;

        // 柱状图
        var optionBar = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                show: false,
                // left: '4%',
                right: '4%',
                bottom: '2%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['广州', '云贵', '川渝', '深圳', '海南', '海外', '基础', '安装'],
                    axisLabel: {
                        show: true,
                        textStyle: {
                            color: '#fff'
                        }
                    }

                }
            ],
            yAxis: [
                {
                    name: '合\n格\n率\n',
                    nameTextStyle: {
                        color: '#fff'
                    },
                    nameLocation: 'middle',
                    nameRotate: '',
                    type: 'category',
                    data: []
                }
            ],
            series: [
                {
                    name: '直接访问',
                    type: 'bar',
                    barWidth: '40%',
                    itemStyle: {
                        normal: {
                            //每根柱子颜色设置
                            color: function (params) {
                                let colorList = [
                                    "#1B48FB",
                                    "#1B48FB",
                                    "#1B48FB",
                                    "#1B48FB",
                                    "#1B48FB",
                                    "#1B48FB",
                                    "#2DCB8F",
                                    "#DF718C",
                                ];
                                return colorList[params.dataIndex];
                            }
                        }
                    },
                    data: [1, 2, 5, 4, 5, 6, 7, 7]
                }
            ]
        };
        var myChartBar = echarts.init(document.getElementById('drawBar'));
        //使用制定的配置项和数据显示图表
        myChartBar.setOption(optionBar);
    </script>

</body>

</html>